html{
    font-family: "Hanken Grotesk", "Helvetica",sans-serif;
    font-size: 18px;
}
/** Box **/
.box{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 350px;
    background-color: green;
}

/** Left Panel **/
#results {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 250px;
    height: 350px;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    font-family: .7rem;
}

#circle{
    background: hsla(256, 72%, 46%, 1);
}

/** Right Panel **/
#summary{
    background: white;
    width: 250px;
    height: 350px;
    color: hsl(224, 30%, 27%);
}

.category{
    display: flex;
    flex-direction: row;
    font-size: .7rem;
}
button{
    background: hsl(224, 30%, 27%);
    color: white;
}