body{
    font-size: 13px;
    font-weight: 500;
    font-family: "Hanken Grotesk", Arial, Helvetica;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

body #box{
    display: flex;
    justify-content: space-between;
    width: 525px;
    height: 350px;
    background: white;
    border-radius: 2rem;
    filter: drop-shadow(hsl(221, 100%, 96%, 1) 1rem 1rem 10px);
}

h1{
    font-size: 1rem;
}

/* LEFT PANEL */
#results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: hsl(241, 100%, 89%);
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 2rem;
    padding: 7px 25px 30px 25px;
    z-index: 2;
    width: 50%;
}

#results > #circle{
    background: linear-gradient(to bottom,hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
}

#results > #circle > h2{
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 0;
    color: hsl(0, 0%, 100%);
}

#results > #circle > span{
    font-size: .7rem;
    margin-top: 0;
    color: hsl(241, 98%, 80%);
}

#results > span{
    color: white;
    font-size: 1.5rem;
}

#results > p{
    font-size: .75rem;
    text-align: center;
    margin: 0 11%;
    color:hsl(241, 98%, 80%);
}

/* RIGHT PANEL */
#summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: hsl(224, 30%, 27%);
    background: white;
    padding: 7px 25px 30px 10px;
    z-index: 1;
    right: 60px;
    width: 60%;
    border-radius: 2rem;
}

#summary > h1{
    margin-left: 20px;
}

#summary > .category {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-left: 20px;
    border-radius: .5rem;
    font-size: .65rem;
    font-weight: 400;
    color: hsl(0, 0%, 42%);
}

#summary > #reaction{
    background: hsla(0, 100%, 67%, 0.15);
}

#summary > #reaction h3{
    color: hsl(0, 100%, 67%);
}
#summary > #memory{
    background: hsla(39, 100%, 56%, 0.15);
}

#summary > #memory h3{
    color: hsl(39, 100%, 56%);
}

#summary > #verbal{
    background: hsl(166, 100%, 37%, 0.15);
}

#summary > #verbal h3{
    color: hsl(166, 100%, 37%);
}

#summary > #visual{
    background: hsl(234, 85%, 45%, 0.15);
}

#summary > #visual h3{
    color: hsl(234, 85%, 45%);
}
#summary > .category h3 > i{
    margin-right: 5px;
}

button{
    background: hsl(224, 30%, 27%);
    color: hsl(221, 100%, 96%);
    height: 40px;
    border-radius: 4rem;
    margin-top: 20px;
    font-size: .8rem;
    font-weight: 400;
    margin-left: 20px;
}

.attribution{
    margin-top: 50px;
}